@tailwind base;
@tailwind components;
@tailwind utilities;

#cta {
  background-image: url('../images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ficon:hover {
  filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg)
    brightness(89%) contrast(85%);
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
